# Environment variables
.env
.env.local
.env.*.local

# Dependency directories
node_modules/

# Build outputs
/dist
/build

# OS files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
